<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Принятие решения{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/navbar-fixed-top.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>


<body>
{% set referer = app.request.headers.get('referer')|default('/') %}

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Decision making</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('homepage') }}">Главная</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Общая задача по ПР <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('task.list') }}">Список задач</a></li>
                        <li><a href="{{ path('task.new') }}">Новая задача</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Задачи на критерии ПР <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('tasks.simple_strategy') }}">Критерии</a></li>
                        <li><a href="{{ path('tasks.bl_strategy') }}">Байес-Лапласа Критерий</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Методы ПР <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('method.main-criteria') }}">Метод главного критерия</a></li>
                        <li><a href="{{ path('method.pareto') }}">Метод множества Парето</a></li>
                        <li><a href="{{ path('method.common-criteria') }}">Метод обобщенного критерия</a></li>
                        <li><a href="{{ path('method.biased-ideal') }}">Метод смещенного идеала</a></li>
                        <li><a href="{{ path('method.optimization') }}">Метод оптимизации</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: 70px">
        {% block body %}

        {% endblock %}
    </div>

</div> <!-- /container -->

{% block javascripts %}
    {#<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
