<table class="table-bordered col-md-6 matrix">
    <tr>
        <td></td>
        {% for columnName in matrixModel.VectorColumnName %}
            <td>
                {{ columnName }}
            </td>
        {% endfor %}
    </tr>
    {% for row_key, row in matrixModel.toArray %}
        <tr>
            <td>
                {{ matrixModel.VectorRowName[row_key] }}
            </td>
            {% for col_key,value in row %}
                <td><input type="text" name="matrix[{{ row_key }}][{{ col_key }}]" value="{{ value }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<style>
    .matrix td{
        padding: 10px;
    }
    .matrix td input{
        width: 100px;
    }
</style>